{
    "log": {
        "loglevel": "warning",
        "access": "none",
        "dnsLog": false
    },
    "inbounds": [
        {
            "listen": "0.0.0.0",
            "port": 443,
            "protocol": "vless",
            "settings": {
                "clients": [],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "xhttp",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/letsencrypt/live/{{ host.data.xhttp_source_domain }}/fullchain.pem",
                            "keyFile": "/etc/letsencrypt/live/{{ host.data.xhttp_source_domain }}/privkey.pem"
                        }
                    ]
                },
                "xhttpSettings": {
                    "path": "{{ host.data.xhttp_path }}",
                    "mode": "auto",
                    "xPaddingBytes": "10-100",
                    "xPaddingObfsMode": true,
                    "xPaddingPlacement": "query",
                    "xPaddingKey": "q",
                    "uplinkHTTPMethod": "PUT",
                    "noGRPCHeader": true,
                    "noSSEHeader": true
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "tag": "direct"
        }
    ]
}
